<div id="progressBar">
    <div class="loader"></div>
</div>
<div class="panel-content">
    <div class="welcome-patti">
        <span><strong>Hey, Welcome back,</strong> it’s so great to see you again</span>
        <ul class="breadcrumbs">
            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
            <li><a href="#" title="">Blank</a></li>
        </ul>
    </div><!-- Welcome Patti -->
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-4 column">
                <div class="heading-profile">
                    <!--<h2>Our Team</h2>-->
                    <!--<span>Your Sample text</span>-->
                </div>
            </div>
            <div class="col-md-8 column">
                <div class="top-bar-chart">
                    <div class="quick-report">
                        <div class="quick-report-infos">
                            <!--<p>My Balance</p>-->
                            <!--<h3>$54,785</h3>-->
                        </div>
                        <!--<span class="bar2">3,6,3,8,9,7,10,6,5,4,7,6,5,3</span>-->
                    </div>
                    <div class="quick-report">
                        <div class="quick-report-infos">
                            <!--<p>New orders</p>-->
                            <!--<h3>67,235</h3>-->
                        </div>
                        <!--<span class="bar">5,4,3,4,6,6,9,4,2,3,7,4</span>-->
                    </div>
                </div><!-- Top Bar Chart -->
            </div>
        </div>
    </div><!-- Heading Sec -->
    <div class="main-content-area">
        <div class="team-sec">
            <div class="row">
                <div ng-repeat="em in employee">
                    <div class="col-md-4">
                        <div class="team-box">
                            <img ng-src="{{em.img}}" alt=""/>
                            <div class="team-info">
                                <i class="fa fa-share"></i>
                                <h3>{{em.name}}</h3>
                                <i>{{em.position}}</i>
                                <p>{{em.desc}}</p>
                                <ul class="social-btn">
                                    <li><a href="{{em.fb_link}}" title=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="{{em.yt_link}}" title=""><i class="fa fa-youtube-play"></i></a></li>
                                    <li><a href="{{em.t_link}}" title=""><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div><!-- Team Box -->
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="collapse-sec" style="margin-top: 10px;">-->
        <!--<div id="accordian2" class="c-collapse">-->
        <!--<h2><i class="ti-save-alt"></i>1 - Template Builder</h2>-->
        <!--<div class="content">-->
        <!--<p>Asunt in anim uis aute irure dolor in repreh enderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>-->
        <!--</div>-->
        <!--<h2><i class="ti-ruler-alt-2"></i>2 - National Association</h2>-->
        <!--<div class="content">-->
        <!--<p>Asunt in anim uis aute irure dolor in repreh enderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>-->
        <!--</div>-->
        <!--<h2><i class="ti-heart-broken"></i>3 - Legalweek Of law</h2>-->
        <!--<div class="content">-->
        <!--<p>Asunt in anim uis aute irure dolor in reprehe nderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>-->
        <!--</div>-->
        <!--<h2><i class="ti-crown"></i>4 - The Lawyer General</h2>-->
        <!--<div class="content">-->
        <!--<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>-->
        <!--</div>-->
        <!--<h2><i class="ti-camera"></i>5 - The Coded General</h2>-->
        <!--<div class="content">-->
        <!--<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>-->
        <!--</div>-->
        <!--<h2><i class="ti-brush-alt"></i>6 - Template Builder</h2>-->
        <!--<div class="content">-->
        <!--<p>Asunt in anim uis aute irure dolor in repreh enderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>-->
        <!--</div>-->
        <!--<h2><i class="ti-hummer"></i>7 - National Association</h2>-->
        <!--<div class="content">-->
        <!--<p>Asunt in anim uis aute irure dolor in repreh enderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>-->
        <!--</div>-->
        <!--<h2><i class="ti-game"></i>8 - Legalweek Of law</h2>-->
        <!--<div class="content">-->
        <!--<p>Asunt in anim uis aute irure dolor in reprehe nderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>-->
        <!--</div>-->
        <!--<h2><i class="ti-gift"></i>9 - The Lawyer General</h2>-->
        <!--<div class="content">-->
        <!--<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>-->
        <!--</div>-->
        <!--<h2><i class="ti-alarm-clock"></i>10 - The Coded General</h2>-->
        <!--<div class="content">-->
        <!--<p>Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cilludolore eu fugiat nulla pariatur </p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>&lt;!&ndash; Accordian &ndash;&gt;-->
    </div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function () {

        'use strict';

        //*** Piety Mini Charts ***//
        $(function () {

            $('.bar').peity('bar', {
                fill: ['#07bf29'],
                height: ['40px'],
                width: ['94px']
            })

            $('.bar2').peity('bar', {
                fill: ['#404040'],
                height: ['40px'],
                width: ['94px']
            })

        });

    });

</script>
