<div class="related-post" ng-init="get_post(related_def);">
    <div class="heading3">
        <h3>Related Post</h3>
    </div>
    <div class="blog-sec">
        <div class="row">
            <div class="col-md-4" ng-repeat="r in post">
                <div class="blog">
                    <div class="blog-thumb">
                        <a href="{{r.url}}" title=""><img ng-src="{{r.thumb}}" alt="" /></a>
                    </div>
                    <div class="blog-info">
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{r.date}} | <i class="fa fa-comment" aria-hidden="true"></i> {{r.comment_count}}
                        <h2><a href="{{r.url}}" title="">{{r.title}}</a></h2>
                        <p ng-bind-html="trustAsHtml(r.short_ver)"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Related Post -->