<div id="progressBar">
    <div class="loader"></div>
</div>
<div class="panel-content">
    <div class="welcome-patti">
        <!--<span><strong>Hey, Welcome back,</strong> it’s so great to see you again</span>-->
        <ul class="breadcrumbs">
            <!--<li><a href="#" title=""><i class="fa fa-home"></i></a></li>-->
            <!--<li><a href="#" title="">Blank</a></li>-->
        </ul>
    </div><!-- Welcome Patti -->
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-4 column">
                <div class="heading-profile">
                    <!--<h2>My Profile</h2>-->
                    <!--<span>Your Sample text</span>-->
                </div>
            </div>
            <div class="col-md-8 column">
                <div class="top-bar-chart">
                    <div class="quick-report">
                        <div class="quick-report-infos">
                            <!--<p>My Balance</p>-->
                            <!--<h3>$54,785</h3>-->
                        </div>
                        <!--<span class="bar2">3,6,3,8,9,7,10,6,5,4,7,6,5,3</span>-->
                    </div>
                    <div class="quick-report">
                        <div class="quick-report-infos">
                            <!--<p>New orders</p>-->
                            <!--<h3>67,235</h3>-->
                        </div>
                        <!--<span class="bar">5,4,3,4,6,6,9,4,2,3,7,4</span>-->
                    </div>
                </div><!-- Top Bar Chart -->
            </div>
        </div>
    </div><!-- Heading Sec -->
    <div class="main-content-area">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-sec">
                    <div class="profile-head" ng-style="{'background-image':'url('+user.backgroundImg+')'}">
                        <div class="profile-avatar">
                            <span><img ng-src="{{userProfile.user_icon_big}}" alt="" style="width: 100px"/></span>
                            <div class="profile-name">
                                <h3 ng-hide="user.name.length < 1">{{userProfile.userName}}</h3>
                                <h3 ng-show="user.name.length > 1">{{userProfile.name}}</h3>
                                <!--<i>Creative Graphic Designer</i>-->
                                <ul class="social-btns">
                                    <li><a title="" href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a title="" href="#"><i class="ti-google"></i></a></li>
                                    <li><a title="" href="#"><i class="ti-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <ul class="profile-count">
                            <li>{{friends.length}}<i>Friends</i></li>
                            <!--<li>2304<i>Following</i></li>-->
                            <!--<li>120<i>Tweets</i></li>-->
                        </ul>
                        <ul class="profile-connect">
                            <li><a href="/edit-user" title="">Edit User</a></li>
                            <li ng-show="user.ID != userProfile.ID"><a href="#" title="">Add as Friend</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="widget no-padding">
                                <div class="status-upload">
                                    <form class="ng-pristine ng-valid">
                                        <textarea placeholder="What are you doing right now?" ng-model="com"></textarea>
                                        <!--<ul>-->
                                        <!--<li><a title="Audio" data-toggle="tooltip" data-placement="bottom"><i class="ti-music-alt"></i></a></li>-->
                                        <!--<li><a title="Video" data-toggle="tooltip" data-placement="bottom"><i class="ti-video-camera"></i></a></li>-->
                                        <!--<li><a title="Sound Record" data-toggle="tooltip" data-placement="bottom"><i class="ti-microphone"></i></a></li>-->
                                        <!--<li><a title="Picture" data-toggle="tooltip" data-placement="bottom"><i class="ti-gallery"></i></a></li>-->
                                        <!--</ul>-->
                                        <button type="submit" class="ghs-purple" ng-click="userFeedCom(com, 0)"><i
                                                class="ti-comment"></i> Share
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="widget no-padding blank">
                                <div class="timeline-sec" ng-init="userFeed(user);">
                                    <ul>
                                        <li ng-repeat="f in feed">
                                            <div class="timeline">
                                                <div class="user-timeline">
                                                    <span><img ng-src="{{f.user_icon}}" alt=""/></span>
                                                </div>
                                                <div class="timeline-detail">
                                                    <div class="timeline-head">
                                                        <h3>{{f.userName}}<span>{{f.date}}</span><i class="ghs-purple">{{f.role}}</i>
                                                        </h3>
                                                        <!--<div class="social-share">-->
                                                        <!--<a title=""><i class="ti-sharethis"></i></a>-->
                                                        <!--<ul class="social-btns">-->
                                                        <!--<li><a title="Facebook" data-toggle="tooltip" data-placement="left" href="#"><i class="ti-facebook"></i></a></li>-->
                                                        <!--<li><a title="Google" data-toggle="tooltip" data-placement="left" href="#"><i class="ti-google"></i></a></li>-->
                                                        <!--<li><a title="Twitter" data-toggle="tooltip"  data-placement="left" href="#"><i class="ti-twitter"></i></a></li>-->
                                                        <!--</ul>-->
                                                        <!--</div>-->
                                                    </div>
                                                    <div class="timeline-content">

                                                        <span ng-bind-html="safe(f.comment)"></span>

                                                        <div data-toggle="buttons" class="btn-group btn-group-sm">
                                                            <label class="btn btn-default">
                                                                <input type="radio" checked="" name="options"/><i
                                                                    class="ti-comments"></i> Reply
                                                            </label>
                                                            <label class="btn btn-default">
                                                                <input type="radio" name="options"/> <i
                                                                    class="ti-thumb-up"></i> Like
                                                            </label>
                                                        </div>
                                                        <form class="post-reply">
                                                            <textarea placeholder="Write your comment"
                                                                      ng-model="replyCom"></textarea>
                                                            <i class="ti-comments"></i>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget white with-padding">
                                <div class="widget-title no-padding no-margin">
                                    <h3>Friends List</h3>
                                </div>
                                <div class="friend-list">
                                    <ul id="frnd-list">
                                        <li ng-repeat="f in friends">
                                            <a ng-href="{{domain + f.link}}"><img ng-src="{{f.user_icon.img}}" alt="" style="width: 46px"/></a>
                                            <h3><a ng-href="{{domain + f.link}}">{{f.userName}}</a><i>{{f.role}}</i>
                                            </h3>
                                            <span class="{{f.status}}">{{f.status}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function () {

        'use strict';

        $(function () {
            var foo = $('.timeline-gallery');
            foo.poptrox({
                usePopupCaption: true
            });
        });

        //***** Slim  Scroll *****//
        $(function () {
            $('#frnd-list').slimScroll({
                height: '505px',
                distance: '0px',
                wheelStep: 10,
                size: '2px'
            });
        });

        //*** Piety Mini Charts ***//
        $(function () {

            $('.bar').peity('bar', {
                fill: ['#07bf29'],
                height: ['40px'],
                width: ['94px']
            });

            $('.bar2').peity('bar', {
                fill: ['#404040'],
                height: ['40px'],
                width: ['94px']
            })

        });

    });

</script>
