<div id="progressBar">
    <div class="loader"></div>
</div>
<div class="panel-content">
    <div class="welcome-patti">
        <span><strong>Hey, Welcome back,</strong> it’s so great to see you again</span>
        <ul class="breadcrumbs">
            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
            <li><a href="#" title="">Blank</a></li>
        </ul>
    </div><!-- Welcome Patti -->
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-4 column">
                <div class="heading-profile">
                    <h2>Calendar</h2>
                    <span>Your Sample text</span>
                </div>
            </div>
            <div class="col-md-8 column">
                <div class="top-bar-chart">
                    <div class="quick-report">
                        <div class="quick-report-infos">
                            <p>My Balance</p>
                            <h3>$54,785</h3>
                        </div>
                        <span class="bar2">3,6,3,8,9,7,10,6,5,4,7,6,5,3</span>
                    </div>
                    <div class="quick-report">
                        <div class="quick-report-infos">
                            <p>New orders</p>
                            <h3>67,235</h3>
                        </div>
                        <span class="bar">5,4,3,4,6,6,9,4,2,3,7,4</span>
                    </div>
                </div><!-- Top Bar Chart -->
            </div>
        </div>
    </div><!-- Heading Sec -->
    <div class="main-content-area">
        <div class="row">
            <div class="col-md-12">
                <div class="widget white with-padding">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function () {

        'use strict';

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            selectable: true,
            selectHelper: true,
            select: function (start, end, allDay) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.fullCalendar('renderEvent',
                        {
                            title: title,
                            start: start,
                            end: end,
                            allDay: allDay
                        },
                        true // make the event "stick"
                    );
                }
                calendar.fullCalendar('unselect');
            },
            editable: true,
            events: [
                {
                    title: 'All Day Event',
                    start: new Date(y, m, 1)
                },
                {
                    title: 'Long Event',
                    start: new Date(y, m, d - 5),
                    end: new Date(y, m, d - 2)
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d - 3, 16, 0),
                    allDay: false
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d + 4, 16, 0),
                    allDay: false
                },
                {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                },
                {
                    title: 'Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                },
                {
                    title: 'Birthday Party',
                    start: new Date(y, m, d + 1, 19, 0),
                    end: new Date(y, m, d + 1, 22, 30),
                    allDay: false
                },
                {
                    title: 'Click for Google',
                    start: new Date(y, m, 28),
                    end: new Date(y, m, 29),
                    url: 'http://google.com/'
                }
            ]
        });

        //*** Piety Mini Charts ***//
        $(function () {

            $('.bar').peity('bar', {
                fill: ['#07bf29'],
                height: ['40px'],
                width: ['94px']
            })

            $('.bar2').peity('bar', {
                fill: ['#404040'],
                height: ['40px'],
                width: ['94px']
            })

        });

    });

</script>
