<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="panel-content">
	<div class="welcome-patti">
		<span><strong>Hey, Welcome back,</strong> it’s so great to see you again</span>
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">Blank</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">
		<div class="row">
			<div class="col-md-4 column">
				<div class="heading-profile">
					<h2>Product</h2>
					<span>Your Sample text</span>
				</div>
			</div>
			<div class="col-md-8 column">
				<div class="top-bar-chart">
					<div class="quick-report">
						<div class="quick-report-infos">
							<p>My Balance</p>
							<h3>$54,785</h3>
						</div>
						<span class="bar2">3,6,3,8,9,7,10,6,5,4,7,6,5,3</span>
					</div>
					<div class="quick-report">
						<div class="quick-report-infos">
							<p>New orders</p>
							<h3>67,235</h3>
						</div>
						<span class="bar">5,4,3,4,6,6,9,4,2,3,7,4</span>
					</div>
				</div><!-- Top Bar Chart -->
			</div>
		</div>
	</div><!-- Heading Sec -->
	<div class="main-content-area">
		<div class="cart-lists">
			<ul>
				<li>
					<div class="cart-thumb">
						<span><img src="http://placehold.it/270x371" alt="" /></span>
						<a class="delete-cart" title=""><i class="fa fa-trash-o"></i></a>
						<h3><a href="#" title="">Your Personal Gateway</a></h3>
						<div class="price-cart-item">
							<span>$567</span>
						</div>
						<p>The best item that you can get</p>
					</div>
					<div class="c-input-number">
						<span><input id="box1" type="text" class="manual-adjust" value="0"/></span>
					</div>
					<div class="cart-item-quantity">
						<i class="fa  fa-shopping-basket"></i>
						<span>Quantity : 3</span>
					</div>
				</li>
				<li>
					<div class="cart-thumb">
						<span><img src="http://placehold.it/270x371" alt="" /></span>
						<a class="delete-cart" title=""><i class="fa fa-trash-o"></i></a>
						<h3><a href="#" title="">Your Personal Gateway</a></h3>
						<div class="price-cart-item">
							<span>$567</span>
						</div>
						<p>The best item that you can get</p>
					</div>
					<div class="c-input-number">
						<span><input id="box1" type="text" class="manual-adjust" value="0"/></span>
					</div>
					<div class="cart-item-quantity">
						<i class="fa  fa-shopping-basket"></i>
						<span>Quantity : 3</span>
					</div>
				</li>
				<li>
					<div class="cart-thumb">
						<span><img src="http://placehold.it/270x371" alt="" /></span>
						<a class="delete-cart" title=""><i class="fa fa-trash-o"></i></a>
						<h3><a href="#" title="">Your Personal Gateway</a></h3>
						<div class="price-cart-item">
							<span>$567</span>
						</div>
						<p>The best item that you can get</p>
					</div>
					<div class="c-input-number">
						<span><input id="box1" type="text" class="manual-adjust" value="0"/></span>
					</div>
					<div class="cart-item-quantity">
						<i class="fa  fa-shopping-basket"></i>
						<span>Quantity : 3</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="coupens-area">
			<div class="coupon">
				<label>Coupon:</label>
				<input type="text" placeholder="Coupon code">
				<input type="submit" value="Apply Coupon" class="flat-btn">
			</div>
			<input type="submit" class="flat-btn" name="update_cart" value="Update Cart">
			<input type="submit" class="checkout-button flat-btn" name="proceed" value="Proceed to Checkout">
		</div>
		<div class="row">
			<div class="col-md-6 column">
				<div class="cart-total-box">
					<h2 class="cart-head-title">CART TOTAL</h2>
					<ul>
						<li><h3>Cart Subtotal</h3> <span>£50.00</span></li>
						<li><h3>Shipping</h3> <span>Free Shipping</span></li>
						<li><h3>Order Total</h3> <span>$335</span></li>
					</ul>
				</div><!-- Cart  -->
			</div>
			<div class="col-md-6 column">
				<div class="cart-total-box">
					<h2 class="cart-head-title">CALCULATE SHIPPING</h2>
					<ul>
						<li>
							<select>
								<option>Select Country</option>
								<option>United Stats</option>
								<option>India</option>
								<option>Pakistan</option>
								<option>Malaysia</option>
								<option>Banglor</option>
							</select>
						</li>
						<li>
							<select>
								<option>Select Stats</option>
								<option>United Stats</option>
								<option>India</option>
								<option>Pakistan</option>
								<option>Malaysia</option>
								<option>Banglor</option>
							</select>
						</li>
						<li>
							<input type="text" placeholder="Postal Code" />
						</li>
					</ul>
					<input type="submit" value="Update Total" class="flat-btn" />
				</div><!-- Cart  -->
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function(){
    
    'use strict';

    	$(".manual-adjust").userincr({
		buttonlabels:{'dec':'-','inc':'+'},
		}).data({'min':0,'max':20,'step':1});

    	//*** Piety Mini Charts ***//
    	$(function() {
    		
  			$('.bar').peity('bar', {
			  fill: ['#07bf29'],
			  height: ['40px'],
			  width: ['94px']
			})

			$('.bar2').peity('bar', {
			  fill: ['#404040'],
			  height: ['40px'],
			  width: ['94px']
			})

  		});
		
	});

</script>
