<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="panel-content">
	<div class="welcome-patti">
		<span><strong>Hey, Welcome back,</strong> it’s so great to see you again</span>
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">Blank</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">
		<div class="row">
			<div class="col-md-4 column">
				<div class="heading-profile">
					<h2>Contact us</h2>
					<span>Your Sample text</span>
				</div>
			</div>
			<div class="col-md-8 column">
				<div class="top-bar-chart">
					<div class="quick-report">
						<div class="quick-report-infos">
							<p>My Balance</p>
							<h3>$54,785</h3>
						</div>
						<span class="bar2">3,6,3,8,9,7,10,6,5,4,7,6,5,3</span>
					</div>
					<div class="quick-report">
						<div class="quick-report-infos">
							<p>New orders</p>
							<h3>67,235</h3>
						</div>
						<span class="bar">5,4,3,4,6,6,9,4,2,3,7,4</span>
					</div>
				</div><!-- Top Bar Chart -->
			</div>
		</div>
	</div><!-- Heading Sec -->
	<div class="main-content-area">
		<div class="google-map">
			<div id="map"></div>
			<div class="wanna-touch">
				<div class="wanna-touch-inner">
					<div class="info-title">
						<span>WANNA TOUCH?</span>
						<h3>My Address</h3>
					</div>
					<div class="contact-info-list">
						<ul>
							<li><i class="fa fa-location-arrow"></i> 2512 Cherry Tree Drive</li>
							<li><i class="fa fa-map-marker"></i> 2512 Cherry Tree Drive</li>
							<li><i class="fa fa-phone"></i> 904-328-0029 - 324-675-4356</li>
							<li><i class="fa fa-flash"></i> Family practitioner</li>
						</ul>
						<span class="view-location"><i class="fa fa-map-o"></i> VIEW LOCATION</span>
					</div>
				</div>
			</div>
			<span class="hide-location"><i class="fa fa-eye-slash"></i> HIDE LOCATION</span>
		</div>
		<div class="contact-page-sec">
			<div class="row">
				<div class="col-md-6 column">
					<div id="contact">
						<div id="message"></div>
						<div class="contact-form">
							<form method="post" action="contact.php" name="contactform" id="contactform">
								<div class="row">
									<div class="col-md-12">
										<i class="fa fa-user"></i>
										<input  name="name" type="text" id="name" placeholder="Name">
									</div>
									<div class="col-md-12">
										<i class="fa fa-at"></i>
										<input name="email" type="text" id="email" placeholder="Email">
									</div>
									<div class="col-md-12">
										<i class="fa fa-pencil"></i>
										<textarea name="comments" id="comments" placeholder="Message"></textarea>
									</div>
									<div class="col-md-12">
										<button type="submit" class="submit theme-btn" id="submit">SEND NOW</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6 column">
					<div class="contact-details">
						<div class="contact-infos">
							<ul>
								<li>
									<span><i class="fa fa-phone"></i> Address</span>
									<p>765 Shuttle Swift Area <br>at New Born Road </p>
								</li>
								<li>
									<span><i class="fa fa-fax"></i> Fax/Email</span>
									<p>674-46-7-0,   234-8-987 <br>hello@email.com</p>
								</li>
							</ul>
						</div>
						<ul class="social-btns">
							<li><a title="" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a title="" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a title="" href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a title="" href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a title="" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a title="" href="#"><i class="fa fa-tumblr"></i></a></li>
						</ul>
					</div><!-- Contact Details -->
					<div class="subscribe-us">
						<span>Stop being invisible today signup now for weekly.</span>
						<form>
							<input type="text" placeholder="Enter your email">
							<input type="submit" value="SIGNUP">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function(){
    
    'use strict';


    $('#contact').submit(function(){

		var action = $(this).attr('action');

		$("#message").slideUp(750,function() {
		$('#message').hide();

		$('#submit')
		.after('<img src="images/ajax-loader.gif" class="loader" alt="" />')
		.attr('disabled','disabled');

		$.post(action, {
		name: $('#name').val(),
		email: $('#email').val(),
		phone: $('#phone').val(),
		subject: $('#subject').val(),
		comments: $('#comments').val(),
		verify: $('#verify').val()
		},
		function(data){
		document.getElementById('message').innerHTML = data;
		$('#message').slideDown('slow');
		$('#contactform img.loader').fadeOut('slow',function(){$(this).remove()});
		$('#submit').removeAttr('disabled');
		if(data.match('success') != null) $('#contactform').slideUp('slow');

		}
		);

		});

		return false;

	});


    	/*================== Location Map Hide/Show =====================*/
        $('.view-location').on('click', function(){
			$('.google-map').addClass('active');
		});
		$('.hide-location').on('click', function(){
			$('.google-map').removeClass('active');
		});

    	//*** Piety Mini Charts ***//
    	$(function() {
    		
  			$('.bar').peity('bar', {
			  fill: ['#07bf29'],
			  height: ['40px'],
			  width: ['94px']
			})

			$('.bar2').peity('bar', {
			  fill: ['#404040'],
			  height: ['40px'],
			  width: ['94px']
			})

  		});
		
	});

</script>
