<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="panel-content">
	<div class="welcome-patti">
		<span><strong>Hey, Welcome back,</strong> it’s so great to see you again</span>
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">Blank</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">
		<div class="row">
			<div class="col-md-4 column">
				<div class="heading-profile">
					<h2>Inbox</h2>
					<span>Your Sample text</span>
				</div>
			</div>
			<div class="col-md-8 column">
				<div class="top-bar-chart">
					<div class="quick-report">
						<div class="quick-report-infos">
							<p>My Balance</p>
							<h3>$54,785</h3>
						</div>
						<span class="bar2">3,6,3,8,9,7,10,6,5,4,7,6,5,3</span>
					</div>
					<div class="quick-report">
						<div class="quick-report-infos">
							<p>New orders</p>
							<h3>67,235</h3>
						</div>
						<span class="bar">5,4,3,4,6,6,9,4,2,3,7,4</span>
					</div>
				</div><!-- Top Bar Chart -->
			</div>
		</div>
	</div><!-- Heading Sec -->
	<div class="main-content-area">
		<div class="mail-area">
			<div class="row">
				<div class="col-md-4">
					<div class="inbox-nav">
						<div class="user-mail">
							<span><img src="http://placehold.it/100x100" alt="" /></span>
							<h3>Labrina Scholer</h3>
							<i>Senior Designer</i>
							<ul class="social-btns">
								<li><a title="" href=""><i class="ti-facebook"></i></a></li>
								<li><a title="" href=""><i class="ti-google"></i></a></li>
								<li><a title="" href=""><i class="ti-twitter"></i></a></li>
							</ul>
							<a href="#/mail/compose" title="" class="compose-btn">Compose</a>
						</div>
						<div class="mail-menu">
							<ul>
								<li><a href="" title="">Inbox <span class="green">23</span></a></li>
								<li><a href="" title="">Important</a></li>
								<li><a href="" title="">Sent</a></li>
								<li><a href="" title="">Drafts</a></li>
								<li><a href="" title="">Trash<span class="red">67</span></a></li>
							</ul>
						</div>
						<div class="mail-labels">
							<h3>Labels</h3>
							<ul>
								<li><a href="" title=""><i class="ti-tag"></i>Friends</a></li>
								<li><a href="" title=""><i class="ti-tag"></i>Groups</a></li>
								<li><a href="" title=""><i class="ti-tag"></i>Private</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="all-mail">
						<h2>Inbox</h2>
						<div class="mail-head">
							<div class="search-emails">
								<div id="inboxMail"></div>
							</div>
							<form>
								<label><input type="checkbox" id="checkAll">Check All</label>
								<div class="btn-group btn-group-sm" data-toggle="buttons">
								  <label class="btn btn-default">
									<input type="radio" name="options"  checked="">
									<i class="ti-archive"></i>
								  </label>
								  <label class="btn btn-default">
									<input type="radio" name="options" >
									<i class="ti-folder"></i>
								  </label>
								  <label class="btn btn-default">
									<input type="radio" name="options" >
									<i class="ti-trash"></i>
								  </label>
								</div>
								<div class="btn-group btn-group-sm" data-toggle="buttons">
								  <label class="btn btn-default">
									<input type="radio" name="options"  checked="">
									<i class="ti-star"></i>
								  </label>
								  <label class="btn btn-default">
									<input type="radio" name="options" >
									<i class="ti-flag"></i>
								  </label>
								</div>
								<div class="btn-group btn-group-sm mail-pagination" data-toggle="buttons">
								  <span>1 - 20 of 276</span>
								  <label class="btn btn-default">
									<input type="radio" name="options"  checked="">
									<i class="ti-arrow-left"></i>
								  </label>
								  <label class="btn btn-default">
									<input type="radio" name="options" >
									<i class="ti-arrow-right"></i>
								  </label>
								  
								</div>
							</form>
						</div><!-- mail head -->
						<ul class="your-emails" id="inbox-mail-list">
							<li class="email unread">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Amare Hale</h3>
								<a href="" title="" class="inbox-msg"><span class="purple">Spam</span>It is a long established fact that a reader</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>20:46</span>
							</li><!-- Email -->
							<li class="email unread">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>John Hampton</h3>
								<a href="" title="" class="inbox-msg">The point of using Lorem Ipsum</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>10:34</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Ray Langley</h3>
								<a href="" title="" class="inbox-msg">When an unknown printer took a galley </a>
								<span>20 min</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Anne Dean</h3>
								<a href="" title="" class="inbox-msg"><span class="green">Unread</span>There are many variations of passages</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>23 min</span>
							</li><!-- Email -->
							<li class="email unread">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Kade Hancock</h3>
								<a href="" title="" class="inbox-msg"><span class="red">Trash</span>This book is a treatise on the theory of ethics</a>
								<span>4 min</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Kimberly Peters</h3>
								<a href="" title="" class="inbox-msg"> It was popularised in the 1960s with the release of Letraset</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>1 hour</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Susan Cooke</h3>
								<a href="" title="" class="inbox-msg">Many desktop publishing packages</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>1:23</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Asa Hebert</h3>
								<a href="" title="" class="inbox-msg">It has survived not only five centuries</a>
								<span>05:12</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Wesley Robles</h3>
								<a href="" title="" class="inbox-msg">You need to be sure there isn't anything</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>10 min</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Holden Floyd</h3>
								<a href="" title="" class="inbox-msg"><span class="gray">Flagged</span>Many desktop publishing packages and web</a>
								<span>12 min</span>
							</li><!-- Email -->
							<li class="email unread">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Emerson Vazquez</h3>
								<a href="" title="" class="inbox-msg"><span class="purple">Spam</span>When an unknown printer took a galley </a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>1 week</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Susan Cooke</h3>
								<a href="" title="" class="inbox-msg">Many desktop publishing packages</a>
								<span>2 week</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Asa Hebert</h3>
								<a href="" title="" class="inbox-msg">It has survived not only five centuries</a>
								<span>last month</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Wesley Robles</h3>
								<a href="" title="" class="inbox-msg"><span class="red">Trash</span>You need to be sure there isn't anything</a>
								<span>20:46</span>
							</li><!-- Email -->
							<li class="email unread">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Amare Hale</h3>
								<a href="" title="" class="inbox-msg"><span class="purple">Spam</span>It is a long established fact that a reader</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>20:46</span>
							</li><!-- Email -->
							<li class="email unread">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>John Hampton</h3>
								<a href="" title="" class="inbox-msg">The point of using Lorem Ipsum</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>10:34</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Ray Langley</h3>
								<a href="" title="" class="inbox-msg">When an unknown printer took a galley </a>
								<span>20 min</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Anne Dean</h3>
								<a href="" title="" class="inbox-msg"><span class="green">Unread</span>There are many variations of passages</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>23 min</span>
							</li><!-- Email -->
							<li class="email unread">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Kade Hancock</h3>
								<a href="" title="" class="inbox-msg"><span class="red">Trash</span>This book is a treatise on the theory of ethics</a>
								<span>4 min</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Kimberly Peters</h3>
								<a href="" title="" class="inbox-msg"> It was popularised in the 1960s with the release of Letraset</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>1 hour</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Susan Cooke</h3>
								<a href="" title="" class="inbox-msg">Many desktop publishing packages</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>1:23</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Asa Hebert</h3>
								<a href="" title="" class="inbox-msg">It has survived not only five centuries</a>
								<span>05:12</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Wesley Robles</h3>
								<a href="" title="" class="inbox-msg">You need to be sure there isn't anything</a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>10 min</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Holden Floyd</h3>
								<a href="" title="" class="inbox-msg"><span class="gray">Flagged</span>Many desktop publishing packages and web</a>
								<span>12 min</span>
							</li><!-- Email -->
							<li class="email unread">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Emerson Vazquez</h3>
								<a href="" title="" class="inbox-msg"><span class="purple">Spam</span>When an unknown printer took a galley </a>
								<a href="" class="attachment" title="Attachment" data-toggle="tooltip" data-placement="left"><i class="ti-clip"></i></a>
								<span>1 week</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Susan Cooke</h3>
								<a href="" title="" class="inbox-msg">Many desktop publishing packages</a>
								<span>2 week</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Asa Hebert</h3>
								<a href="" title="" class="inbox-msg">It has survived not only five centuries</a>
								<span>last month</span>
							</li><!-- Email -->
							<li class="email">
								<input type="checkbox" class="checkall" />
								<div class="star-email">
									<i class="ti-star"></i>
								</div><!-- Star Email -->
								<h3>Wesley Robles</h3>
								<a href="" title="" class="inbox-msg"><span class="red">Trash</span>You need to be sure there isn't anything</a>
								<span>20:46</span>
							</li><!-- Email -->
						</ul>
						<div class="read-email">
							<div class="read-email-sec">
								<a href="" title="" class="close-reading"><i class="ti-close"></i></a>
								<div class="read-email-head">
									<h3 class="mail-to"><span><img src="http://placehold.it/100x100" alt="" /></span> To</h3>
									<h3 class="mail-user"><a href="" title="">youruseremail.com</a>Jonathan Doe<span><img src="http://placehold.it/100x100" alt="" /></span></h3>
								</div><!-- Read Email Head -->
								<div class="message-container">
									<p>The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
									
									<p>Fusce sit amet dui at nunc laoreet facilisis. Proin consequat orci sollicitudin sem cursus, quis vehicula eros ultrices. Cras fermentum justo at nibh tincidunt, consectetur elementum est aliquam.</p>
									
									<p>Fusce sit amet dui at nunc laoreet facilisis. Proin consequat orci sollicitudin sem cursus, quis vehicula eros ultrices. Cras fermentum justo at nibh tincidunt, consectetur elementum est aliquam.
									Fusce sit amet dui at nunc laoreet facilisis. Proin consequat orci sollicitudin sem cursus, quis vehicula eros ultrices. Cras fermentum justo at nibh tincidunt, consectetur elementum est aliquam.</p>
									<address>
									  <strong>Twitter, Inc.</strong><br>
									  795 Folsom Ave, Suite 600<br>
									  San Francisco, CA 94107<br>
									  <abbr title="Phone">P:</abbr> (123) 456-7890
									</address>
									<address>
									  <strong>Full Name</strong><br>
									  <a href="mailto:#">first.last@example.com</a>
									</address>
									<div class="quick-reply">
										<div id="wrapper">
											<textarea placeholder="Write Your Email Here For Quick Reply"></textarea>
										</div>
										<a class="purple send-mail" title="" href="">Send Email</a>
									</div>
								</div>
							</div>
						</div>
		
					</div><!-- All Emails -->
				</div>
			</div>
			<!-- Modal -->
		</div><!-- Mail Area -->
	</div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function(){
    
    'use strict';

    	//**** Slide Panel Toggle ***//
		$('.star-email').on('click', function(){
			$(this).toggleClass('starred');
		});

		//* Sidebar Toogle //
		$('.inbox-msg').on('click', function(){
			$('.read-email').addClass('reading');
		});

		//* Sidebar Toogle //
		$('.close-reading').on('click', function(){
			$('.read-email').removeClass('reading');
		});
		
		//**** Check All mail ****//
		$('#checkAll').on('click', function(){
			$('.checkall:checkbox').not(this).prop('checked', this.checked);
		});

		//**** Your Emails ****//
	     $(function(){
	          $('.your-emails').slimScroll({
	               height: '636px',
	               wheelStep: 10,
	               distance : '0px',
	               color:'#878787',
	               railOpacity : '0.1',
	               size: '2px'
	          });
	     });

	     //**** Reading Emails ****//
	     $(function(){
	          $('.read-email').slimScroll({
	               height: '100%',
	               wheelStep: 10,
	               distance : '0px',
	               color:'#878787',
	               railOpacity : '0.1',
	               size: '2px'
	          });
	     });
		
    	//*** Piety Mini Charts ***//
    	$(function() {
    		
  			$('.bar').peity('bar', {
			  fill: ['#07bf29'],
			  height: ['40px'],
			  width: ['94px']
			})

			$('.bar2').peity('bar', {
			  fill: ['#404040'],
			  height: ['40px'],
			  width: ['94px']
			})

  		});
		
	});

</script>
