<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="panel-content">
	<div class="welcome-patti">
		<span><strong>Hey, Welcome back,</strong> it’s so great to see you again</span>
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">Blank</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">
		<div class="row">
			<div class="col-md-4 column">
				<div class="heading-profile">
					<h2>Search Found</h2>
					<span>Your Sample text</span>
				</div>
			</div>
			<div class="col-md-8 column">
				<div class="top-bar-chart">
					<div class="quick-report">
						<div class="quick-report-infos">
							<p>My Balance</p>
							<h3>$54,785</h3>
						</div>
						<span class="bar2">3,6,3,8,9,7,10,6,5,4,7,6,5,3</span>
					</div>
					<div class="quick-report">
						<div class="quick-report-infos">
							<p>New orders</p>
							<h3>67,235</h3>
						</div>
						<span class="bar">5,4,3,4,6,6,9,4,2,3,7,4</span>
					</div>
				</div><!-- Top Bar Chart -->
			</div>
		</div>
	</div><!-- Heading Sec -->
	<div class="main-content-area">
		<div class="search-result">
			<h3>Search Result Found For: <i>"Themenum"</i></h3>
			<p>No results found. Please adjust your search term and try again.</p>
			<div class="search_widget">
				<form>
					<input placeholder="Type your word again..." type="text">
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</div>
		<div class="blog-sec">
			<div class="row">
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-thumb">
							<a title="" href="#"><img alt="" src="http://placehold.it/370x345"></a>
						</div>
						<div class="blog-info">
							<a title="" href="#">25/05/2015</a>
							<h2><a title="" href="#">The Great wall of China</a></h2>
							<p>Becoming an expert in your career or achieving success <a title="" href="">[more]</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-thumb">
							<a title="" href="#"><img alt="" src="http://placehold.it/370x345"></a>
						</div>
						<div class="blog-info">
							<a title="" href="#">25/05/2015</a>
							<h2><a title="" href="#">The Great wall of China</a></h2>
							<p>Becoming an expert in your career or achieving success <a title="" href="">[more]</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-thumb">
							<a title="" href="#"><img alt="" src="http://placehold.it/370x345"></a>
						</div>
						<div class="blog-info">
							<a title="" href="#">25/05/2015</a>
							<h2><a title="" href="#">The Great wall of China</a></h2>
							<p>Becoming an expert in your career or achieving success <a title="" href="">[more]</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-thumb">
							<a title="" href="#"><img alt="" src="http://placehold.it/370x345"></a>
						</div>
						<div class="blog-info">
							<a title="" href="#">25/05/2015</a>
							<h2><a title="" href="#">The Great wall of China</a></h2>
							<p>Becoming an expert in your career or achieving success <a title="" href="">[more]</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-thumb">
							<a title="" href="#"><img alt="" src="http://placehold.it/370x345"></a>
						</div>
						<div class="blog-info">
							<a title="" href="#">25/05/2015</a>
							<h2><a title="" href="#">The Great wall of China</a></h2>
							<p>Becoming an expert in your career or achieving success <a title="" href="">[more]</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-thumb">
							<a title="" href="#"><img alt="" src="http://placehold.it/370x345"></a>
						</div>
						<div class="blog-info">
							<a title="" href="#">25/05/2015</a>
							<h2><a title="" href="#">The Great wall of China</a></h2>
							<p>Becoming an expert in your career or achieving success <a title="" href="">[more]</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="pagination">
						<ul>
							<li class="prev"><a href="">Prev</a></li>
							<li><a href="">1</a></li>
							<li class="active"><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li><span class="delimeter">...</span></li>
							<li><a href="">8</a></li>
							<li class="next"><a href="">Next</a></li>
						</ul>
					</div><!-- Pagination -->
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function(){
    
    'use strict';

    	//*** Piety Mini Charts ***//
    	$(function() {
    		
  			$('.bar').peity('bar', {
			  fill: ['#07bf29'],
			  height: ['40px'],
			  width: ['94px']
			})

			$('.bar2').peity('bar', {
			  fill: ['#404040'],
			  height: ['40px'],
			  width: ['94px']
			})

  		});
		
	});

</script>
