<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="panel-content">
	<div class="welcome-patti">
		<span><strong>Hey, Welcome back,</strong> it’s so great to see you again</span>
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">Blank</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">
		<div class="row">
			<div class="col-md-4 column">
				<div class="heading-profile">
					<h2>Sort Block</h2>
					<span>Your Sample text</span>
				</div>
			</div>
			<div class="col-md-8 column">
				<div class="top-bar-chart">
					<div class="quick-report">
						<div class="quick-report-infos">
							<p>My Balance</p>
							<h3>$54,785</h3>
						</div>
						<span class="bar2">3,6,3,8,9,7,10,6,5,4,7,6,5,3</span>
					</div>
					<div class="quick-report">
						<div class="quick-report-infos">
							<p>New orders</p>
							<h3>67,235</h3>
						</div>
						<span class="bar">5,4,3,4,6,6,9,4,2,3,7,4</span>
					</div>
				</div><!-- Top Bar Chart -->
			</div>
		</div>
	</div><!-- Heading Sec -->
	<div class="main-content-area">
		<div class="row">
			<div class="col-md-6">
				<div class="widget white">
					<div class="widget-title">
						<h3>Sortable List</h3>
					</div>
					<div class="widget-content">
						<div class="sortable-style">
							<ul class="sortable list">
								<li>Item 1</li>
								<li>Item 2</li>
								<li>Item 3</li>
								<li>Item 4</li>
								<li>Item 5</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="widget white">
					<div class="widget-title">
						<h3>Sortable Grids</h3>
					</div>
					<div class="widget-content">
						<div class="sortable-style">
							<ul class="sortable grid">
								<li>Item 1</li>
								<li>Item 2</li>
								<li>Item 3</li>
								<li>Item 4</li>
								<li>Item 5</li>
								<li>Item 6</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="widget white">
					<div class="widget-title">
						<h3>Exclude List</h3>
					</div>
					<div class="widget-content">
						<div class="sortable-style">
							<ul class="exclude list">
								<li>Item 1</li>
								<li>Item 2</li>
								<li>Item 3</li>
								<li class="disabled">Item 4</li>
								<li class="disabled">Item 5</li>
								<li class="disabled">Item 6</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="widget white">
					<div class="widget-title">
						<h3>Sortable List with Handles</h3>
					</div>
					<div class="widget-content">
						<div class="sortable-style">
							<ul class="handles list">
								<li><span>::</span> Item 1</li>
								<li><span>::</span> Item 2</li>
								<li><span>::</span> Item 3</li>
								<li><span>::</span> Item 4</li>
								<li><span>::</span> Item 5</li>
								<li><span>::</span> Item 6</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="widget white">
					<div class="widget-title">
						<h3>Connected Sortable List</h3>
					</div>
					<div class="widget-content">
						<div class="row">
							<div id="connected">
								<div class="col-md-6">
									<div class="sortable-style">
										<ul class="connected list">
											<li>Item 1</li>
											<li>Item 2</li>
											<li>Item 3</li>
											<li>Item 4</li>
											<li>Item 5</li>
											<li>Item 6</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6">
									<div class="sortable-style">
										<ul class="connected list no2">
											<li class="highlight">Item 1</li>
											<li class="highlight">Item 2</li>
											<li class="highlight">Item 3</li>
											<li class="highlight">Item 4</li>
											<li class="highlight">Item 5</li>
											<li class="highlight">Item 6</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function(){
    
    'use strict';

	    $(function() {
			$('.sortable').sortable();
			$('.handles').sortable({
				handle: 'span'
			});
				$('.connected').sortable({
				connectWith: '.connected'
			});
				$('.exclude').sortable({
				items: ':not(.disabled)'
			});
		});

    	//*** Piety Mini Charts ***//
    	$(function() {
    		
  			$('.bar').peity('bar', {
			  fill: ['#07bf29'],
			  height: ['40px'],
			  width: ['94px']
			})

			$('.bar2').peity('bar', {
			  fill: ['#404040'],
			  height: ['40px'],
			  width: ['94px']
			})

  		});
		
	});

</script>
