<div id="progressBar">
    <div class="loader"></div>
</div>
<div class="panel-content">
    <div class="welcome-patti">
        <span><strong>Hey, Welcome back,</strong> it’s so great to see you again</span>
        <ul class="breadcrumbs">
            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
            <li><a href="#" title="">Blank</a></li>
        </ul>
    </div><!-- Welcome Patti -->
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-4 column">
                <div class="heading-profile">
                    <h2>Vector Map</h2>
                    <span>Your Sample text</span>
                </div>
            </div>
            <div class="col-md-8 column">
                <div class="top-bar-chart">
                    <div class="quick-report">
                        <div class="quick-report-infos">
                            <p>My Balance</p>
                            <h3>$54,785</h3>
                        </div>
                        <span class="bar2">3,6,3,8,9,7,10,6,5,4,7,6,5,3</span>
                    </div>
                    <div class="quick-report">
                        <div class="quick-report-infos">
                            <p>New orders</p>
                            <h3>67,235</h3>
                        </div>
                        <span class="bar">5,4,3,4,6,6,9,4,2,3,7,4</span>
                    </div>
                </div><!-- Top Bar Chart -->
            </div>
        </div>
    </div><!-- Heading Sec -->
    <div class="main-content-area">
        <div id="vector-map"></div>
    </div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function () {

        'use strict';

        //*** Map Jvector ***//
        $('#vector-map').vectorMap({
            map: 'usa_en',
            backgroundColor: '#ffffff',
            borderColor: '#818181',
            borderOpacity: 0.25,
            borderWidth: 0.25,
            color: '#c6d3e0',
            colors: {
                mo: '#a8b2bd',
                fl: '#a8b2bd',
                or: '#a8b2bd'
            },
            enableZoom: true,
            showLabels: false,
            hoverColor: '#b9c7d5',
            hoverOpacity: null,
            normalizeFunction: 'linear',
            scaleColors: ['#b6d6ff', '#005ace'],
            selectedColor: '#b9c7d5',
            selectedRegions: [],
            showTooltip: false,
            onRegionClick: function (element, code, region) {
                var message = 'You clicked "'
                    + region
                    + '" which has the code: '
                    + code.toUpperCase();

                alert(message);
            }
        });

        //*** Piety Mini Charts ***//
        $(function () {

            $('.bar').peity('bar', {
                fill: ['#07bf29'],
                height: ['40px'],
                width: ['94px']
            })

            $('.bar2').peity('bar', {
                fill: ['#404040'],
                height: ['40px'],
                width: ['94px']
            })

        });

    });

</script>
