<div id="progressBar">
    <div class="loader"></div>
</div>
<div class="panel-content">
    <div class="welcome-patti">
        <span><strong>Hey, Welcome back,</strong> it’s so great to see you again</span>
        <ul class="breadcrumbs">
            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
            <li><a href="#" title="">Blank</a></li>
        </ul>
    </div><!-- Welcome Patti -->
    <div class="heading-sec">
        <div class="row">
            <div class="col-md-4 column">
                <div class="heading-profile">
                    <h2>Widgets</h2>
                    <span>Your Sample text</span>
                </div>
            </div>
            <div class="col-md-8 column">
                <div class="top-bar-chart">
                    <div class="quick-report">
                        <div class="quick-report-infos">
                            <p>My Balance</p>
                            <h3>$54,785</h3>
                        </div>
                        <span class="bar2">3,6,3,8,9,7,10,6,5,4,7,6,5,3</span>
                    </div>
                    <div class="quick-report">
                        <div class="quick-report-infos">
                            <p>New orders</p>
                            <h3>67,235</h3>
                        </div>
                        <span class="bar">5,4,3,4,6,6,9,4,2,3,7,4</span>
                    </div>
                </div><!-- Top Bar Chart -->
            </div>
        </div>
    </div><!-- Heading Sec -->
    <div class="main-content-area">
        <div class="quick-stats-boxes">
            <div class="row">
                <div class="col-md-3">
                    <div class="quick-total-earning widget">
                        <div class="widget-controls">
                            <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                        </div><!-- Widget Controls -->
                        <i class="red fa fa-usd"></i>
                        <div class="quick-total-ern-info">
                            <i>TOTAL EARNING</i>
                            <h5>$24,678.00</h5>
                            <div class="progress">
                                <div class="progress-bar red" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 70%;">
                                    70%
                                </div>
                            </div>
                            <span>TODAY : $44.00</span>
                        </div>
                    </div><!-- Quick Total Earning -->
                </div>
                <div class="col-md-3">
                    <div class="quick-order-box">
                        <div class="this-stats">20+ <i class="fa fa-sort-asc"></i></div>
                        <h3>6,878.00</h3>
                        <i>NEW ORDERS</i>
                        <span class="bar3">3,6,3,8,9,7,10,6,5,4,7,5,4,3,4,6,6,9,4,2,3,7,4</span>
                    </div><!-- Quick Order Box -->
                </div>
                <div class="col-md-3">
                    <div class="quick-visitor-box">
                        <div class="this-stats">20+ <i class="fa fa-sort-asc"></i></div>
                        <div class="quick-visitor-text new">
                            <i>RETURNING</i>
                            <span class="number">5,345</span>
                        </div>
                        <div class="quick-visitor-text total">
                            <i>TOTAL</i>
                            <span>1,244,00</span>
                        </div>
                        <span class="line">5,3,9,6,5,3,9,6,5,9,5,9,7,3,5,2</span>
                    </div><!-- Quick Visitor text -->
                </div>
                <div class="col-md-3">
                    <div class="quick-realtime-box">
                        <ul class="realtime-difference">
                            <li><i class="returning"></i>RETURNING</li>
                            <li><i class="new"></i>NEW</li>
                        </ul>
                        <div class="quick-realtime">
                            <h3 class="number2">254</h3>
                            <i>REAL TIME VISITOR</i>
                            <div class="progress">
                                <div class="progress-bar green" role="progressbar" aria-valuenow="46" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 46%;">
                                    70%
                                </div>
                            </div>
                        </div>
                    </div><!-- Quick Visitor text -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="widget weather-widget">
                    <div class="widget-controls">
                        <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                    </div><!-- Widget Controls -->
                    <canvas id="rain" width="64" height="64"></canvas>
                    <div class="weather-infos">
                        <span class="weather-tem">75</span>
                        <h3>Cloudy Skyies<i>Sicklervilte, New Jersey</i></h3>
                        <div class="weather-date purple">
                            <span>MAY<strong>21</strong></span>
                        </div>
                    </div>
                </div><!-- Weather Widget -->
            </div>
            <div class="col-md-6">
                <div class="widget white no-gape">
                    <div class="widget-controls">
                        <span class="close-content"><i class="fa fa-trash-o"></i></span>
                        <span class="expand-content"><i class="fa fa-expand"></i></span>
                        <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                    </div><!-- Widget Controls -->
                    <div class="widget-title">
                        <h3>Task Graph</h3>
                    </div>
                    <div class="task-graph">
                        <div class="task-graph-chart">
                            <span class="pie-colours2">5,2,1</span>
                            <i>Task Completed</i>
                            <h3>6789</h3>
                        </div>
                        <ul>
                            <li>Remaining<span>789</span></li>
                            <li>In Progress<span>8,230</span></li>
                            <li>Budget<span>$78.6M</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="widget blank no-padding">
                    <div class="carousal-widget" id="simple-carousel">
                        <ul>
                            <li>
                                <i class="ti-headphone"></i>
                                <h3><strong>Steve Jobs</strong> Time Capsu le` <br/> is Finally Unearthed on
                                    <br/><strong>Skyace News</strong></h3>
                                <div class="carousal-avatar">
                                    <span><img src="http://placehold.it/53x53" alt=""/></span>
                                    <h3>JAFIR DOE</h3>
                                    <i>Admin Moderator</i>
                                </div>
                            </li>
                            <li>
                                <i class="ti-paint-roller"></i>
                                <h3><strong>Steve Jobs</strong> Time Capsu le` <br/> is Finally Unearthed on
                                    <br/><strong>Skyace News</strong></h3>
                                <div class="carousal-avatar">
                                    <span><img src="http://placehold.it/53x53" alt=""/></span>
                                    <h3>Jonathan Ranij</h3>
                                    <i>Theme Developer</i>
                                </div>
                            </li>
                            <li>
                                <i class="ti-crown"></i>
                                <h3><strong>Steve Jobs</strong> Time Capsu le` <br/> is Finally Unearthed on
                                    <br/><strong>Skyace News</strong></h3>
                                <div class="carousal-avatar">
                                    <span><img src="http://placehold.it/53x53" alt=""/></span>
                                    <h3>Bella Nikolin</h3>
                                    <i>Web Designer</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget blank no-padding">
                    <div class="carousal-widget fb-carousel" id="fb-carousel">
                        <ul>
                            <li>
                                <i class="ti-facebook"></i>
                                <h3><strong>John Doe</strong> Biggest time et` <br/> We are going on here <br/><strong>Place
                                    Taker</strong></h3>
                                <span>12 March 2016</span>
                                <div class="fb-status">
                                    <div><i class="fa fa-thumbs-up"></i> 345</div>
                                    <div><i class="fa fa-comment-o"></i> 786</div>
                                </div>
                            </li>
                            <li>
                                <i class="ti-facebook"></i>
                                <h3><strong>John Doe</strong> Biggest time et` <br/> We are going on here <br/><strong>Place
                                    Taker</strong></h3>
                                <span>12 March 2016</span>
                                <div class="fb-status">
                                    <div><i class="fa fa-thumbs-up"></i> 345</div>
                                    <div><i class="fa fa-comment-o"></i> 786</div>
                                </div>
                            </li>
                            <li>
                                <i class="ti-facebook"></i>
                                <h3><strong>John Doe</strong> Biggest time et` <br/> We are going on here <br/><strong>Place
                                    Taker</strong></h3>
                                <span>12 March 2016</span>
                                <div class="fb-status">
                                    <div><i class="fa fa-thumbs-up"></i> 345</div>
                                    <div><i class="fa fa-comment-o"></i> 786</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="widget">
                    <div class="widget-title">
                        <h3>Statistics Chart</h3>
                    </div>
                    <div class="widget-controls">
                        <span class="close-content"><i class="fa fa-trash-o"></i></span>
                        <span class="expand-content"><i class="fa fa-expand"></i></span>
                        <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                    </div><!-- Widget Controls -->
                    <div class="statistic-chart">
                        <div class="graph-container">
                            <div id="chart" style="height:290px"></div>
                        </div>
                        <div class="upper-chart-detail">
                            <span><strong>FRI</strong>August/Sep/2013</span>
                            <ul>
                                <li>Desktop : <span>7,234</span></li>
                                <li>Tablet : <span>1,456</span></li>
                                <li>Mobile : <span>5,367</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget white no-padding">
                    <div class="earning-widget">
                        <div class="earning-graph">
                            <h3>$340<i>+125.00%</i></h3>
                            <span>Monday</span>
                            <div class="full-width"><span class="pie-colours">4,7,6,5</span></div>
                        </div>
                        <div class="full-width">
                            <div class="earning-status">
                                <ul>
                                    <li><span>Market</span><h4>$12,234</h4></li>
                                    <li><span>Referrel</span><h4>$50,335</h4></li>
                                    <li><span>Total</span><h4>$200.00</h4></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="widget white no-padding">
                    <div class="twitter-widget">
                        <div class="twitter-avatar">
                            <img alt="" src="http://placehold.it/600x402">
                            <h3>@NataliaQueenart <i data-placement="top" data-toggle="tooltip" title=""
                                                    class="ti-check purple" data-original-title="Verified"></i></h3>
                            <span>Creative Graphic Designer</span>
                        </div>
                        <ul>
                            <li>Followers<span>88,900</span></li>
                            <li>Following<span>2,090</span></li>
                            <li>Tweets<span>409</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="widget white no-gape">
                    <div class="widget-controls">
                        <span class="close-content"><i class="fa fa-trash-o"></i></span>
                        <span class="expand-content"><i class="fa fa-expand"></i></span>
                        <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                    </div><!-- Widget Controls -->
                    <div class="widget-title">
                        <h3>Social Activities</h3>
                    </div>
                    <div class="widget-content">
                        <div class="social-activities">
                            <ul>
                                <li><i style="background-color:#417db5;" class="ti-facebook"></i>
                                    <h3>89k</h3><span>FRIENDS</span></li>
                                <li><i style="background-color:#fb3434;" class="ti-google"></i>
                                    <h3>785</h3><span>FOLLOWERS</span></li>
                                <li><i style="background-color:#3f73a4;" class="ti-linkedin"></i>
                                    <h3>670+</h3><span>CONTACTS</span></li>
                                <li><i style="background-color:#5bafff;" class="ti-twitter"></i>
                                    <h3>456k</h3><span>FOLLOWERS</span></li>
                                <li><i style="background-color:#ff973a;" class="ti-soundcloud"></i>
                                    <h3>4k</h3><span>FOLLOWERS</span></li>
                                <li><i style="background-color:#444444;" class="ti-vimeo"></i>
                                    <h3>6,986</h3><span>VIEWS</span></li>
                            </ul>
                            <a title="" href="#">See all activities</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="widget white no-padding">
                    <div class="my-profile-widget">
                        <div class="profile-widget-head purple">
                            <h3>Labrina Scholar</h3>
                            <i>Creative Designer</i>
                            <span><img alt="" src="http://placehold.it/100x100"></span>
                        </div>
                        <h4>@labrina_scholar</h4>
                        <span class="purple"><i class="ti-location-pin"></i>San Francisco</span>
                        <p>Print this page to PDF for te completet of vectors. Or to use othe the Font Aweo Awesome</p>
                        <a title="" href="#">http://themeforest.net</a>
                        <ul class="social-btns">
                            <li><a href="#" title=""><i class="ti-facebook"></i></a></li>
                            <li><a href="#" title=""><i class="ti-google"></i></a></li>
                            <li><a href="#" title=""><i class="ti-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="widget blank no-padding">
                    <div class="panel panel-default work-progress-table">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Lanbrina Scholar<i>My Work Progress</i>
                            <div class="dropdown rounded">
                                <button aria-expanded="true" data-toggle="dropdown" id="dropdownMenu1" type="button"
                                        class="btn btn-default dropdown-toggle">
                                    Options
                                    <span class="caret"></span>
                                </button>
                                <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
                                    <li role="presentation"><a href="#/mail/inbox" tabindex="-1" role="menuitem">My
                                        Mail</a></li>
                                    <li role="presentation"><a href="#/extra/invoice" tabindex="-1" role="menuitem">Invoice</a>
                                    </li>
                                    <li role="presentation"><a href="#/personal/profile" tabindex="-1" role="menuitem">Profile</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Progress</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>
                                    <div class="progress">
                                        <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0"
                                             aria-valuenow="60" role="progressbar" class="red progress-bar">
                                            <span>60%</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Pending..</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>
                                    <div class="progress">
                                        <div style="width: 80%;" aria-valuemax="100" aria-valuemin="0"
                                             aria-valuenow="80" role="progressbar" class="green progress-bar">
                                            <span>80%</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Checking..</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>
                                    <div class="progress">
                                        <div style="width: 40%;" aria-valuemax="100" aria-valuemin="0"
                                             aria-valuenow="40" role="progressbar" class="purple progress-bar">
                                            <span>40%</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Working...</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>John Doe</td>
                                <td>
                                    <div class="progress">
                                        <div style="width: 90%;" aria-valuemax="100" aria-valuemin="0"
                                             aria-valuenow="90" role="progressbar" class="purple progress-bar">
                                            <span>90%</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Almost Done</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Brandon Daril</td>
                                <td>
                                    <div class="progress">
                                        <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0"
                                             aria-valuenow="60" role="progressbar" class="red progress-bar">
                                            <span>60%</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Pending..</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Mark</td>
                                <td>
                                    <div class="progress">
                                        <div style="width: 45%;" aria-valuemax="100" aria-valuemin="0"
                                             aria-valuenow="45" role="progressbar" class="red progress-bar">
                                            <span>45%</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Pending..</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Jacob</td>
                                <td>
                                    <div class="progress">
                                        <div style="width: 89%;" aria-valuemax="100" aria-valuemin="0"
                                             aria-valuenow="89" role="progressbar" class="green progress-bar">
                                            <span>89%</span>
                                        </div>
                                    </div>
                                </td>
                                <td>Checking..</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget white">
                            <div class="widget-controls">
                                <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                            </div><!-- Widget Controls -->
                            <div class="balance-widget">
                                <span class="pie-colours3">1,1,2</span>
                                <h3>Our Balance</h3>
                                <h2><i>THIS MONTH EARNING</i>$9,34,145.0</h2>
                                <div class="progress w-tooltip">
                                    <div class="purple progress-bar" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        <span><i>Today</i>$2,230</span>
                                    </div>
                                </div>
                            </div><!-- Balance Widget -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="widget white">
                            <div class="widget-controls">
                                <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                            </div><!-- Widget Controls -->
                            <div class="balance-widget">
                                <span class="pie-colours4">1,4,2</span>
                                <h3>Our Income</h3>
                                <h2><i>THIS MONTH INCOME</i>$75,13</h2>
                                <div class="progress w-tooltip">
                                    <div class="purple progress-bar" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                        <span><i>Today</i>$8,456</span>
                                    </div>
                                </div>
                            </div><!-- Balance Widget -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="widget no-padding">
                            <div class="status-upload">
                                <form class="ng-pristine ng-valid">
                                    <textarea placeholder="What are you doing right now?"></textarea>
                                    <ul>
                                        <li><a data-placement="bottom" data-toggle="tooltip" title=""
                                               data-original-title="Audio"><i class="ti-music-alt"></i></a></li>
                                        <li><a data-placement="bottom" data-toggle="tooltip" title=""
                                               data-original-title="Video"><i class="ti-video-camera"></i></a></li>
                                        <li><a data-placement="bottom" data-toggle="tooltip" title=""
                                               data-original-title="Sound Record"><i class="ti-microphone"></i></a></li>
                                        <li><a data-placement="bottom" data-toggle="tooltip" title=""
                                               data-original-title="Picture"><i class="ti-gallery"></i></a></li>
                                    </ul>
                                    <button class="green" type="submit"><i class="ti-comment"></i> Share</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget white">
                    <div class="widget-title">
                        <h3>Save Your Draft</h3>
                    </div>
                    <div class="save-draft">
                        <form>
                            <input type="text" placeholder="Title"/>
                            <input type="text" placeholder="Email"/>
                            <textarea placeholder="Description"></textarea>
                            <input type="submit" value="Save now"/>
                        </form>
                    </div><!-- Save Draft -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="widget white no-padding">
                    <div class="mini-profile-widget">
                        <div class="mini-profile-area">
                            <span><img src="http://placehold.it/100x100" alt=""></span>
                            <h3>Labrina Scholer</h3>
                            <i>Senior Designer</i>
                            <ul class="social-btns">
                                <li><a href="#" title=""><i class="ti-facebook"></i></a></li>
                                <li><a href="#" title=""><i class="ti-google"></i></a></li>
                                <li><a href="#" title=""><i class="ti-twitter"></i></a></li>
                            </ul>
                        </div>
                        <p>Print this page to PDF for the complete set of vectors. Or to use on the desktop.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget no-padding blank">
                    <div class="social-widget">
                        <span id="fb"><i class="fa fa-facebook"></i></span>
                        <ul>
                            <li><p>1,265<i>Friends</i></p></li>
                            <li><p>235<i>Likes</i></p></li>
                        </ul>
                    </div><!-- Social Widget -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget no-padding blank">
                    <div class="social-widget">
                        <span id="twitter"><i class="fa fa-twitter"></i></span>
                        <ul>
                            <li><p>3,345<i>Tweets</i></p></li>
                            <li><p>984<i>Followers</i></p></li>
                        </ul>
                    </div><!-- Social Widget -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget no-padding blank">
                    <div class="timeline-sec">
                        <ul>
                            <li>
                                <div class="timeline">
                                    <div class="user-timeline">
                                        <span><img src="http://placehold.it/40x40" alt=""/></span>
                                    </div>
                                    <div class="timeline-detail">
                                        <div class="timeline-head">
                                            <h3>Jonathan Gardel<span>2 min ago</span><i class="red">Admin</i></h3>
                                            <div class="social-share">
                                                <a title=""><i class="ti-sharethis"></i></a>
                                                <ul class="social-btns">
                                                    <li><a title="Facebook" data-toggle="tooltip" data-placement="left"
                                                           href="#"><i class="ti-facebook"></i></a></li>
                                                    <li><a title="Google" data-toggle="tooltip" data-placement="left"
                                                           href="#"><i class="ti-google"></i></a></li>
                                                    <li><a title="Twitter" data-toggle="tooltip" data-placement="left"
                                                           href="#"><i class="ti-twitter"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <p>Set it as the font <a href="#" title="">John Doe</a> in your applition,
                                                and copy and paste the icons. Print this page.</p>
                                            <div class="progress w-tooltip">
                                                <div style="width: 70%;" aria-valuemax="100" aria-valuemin="0"
                                                     aria-valuenow="70" role="progressbar" class="purple progress-bar">
                                                    <span><i>uploading</i>70%</span>
                                                </div>
                                            </div>
                                            <div data-toggle="buttons" class="btn-group btn-group-sm">
                                                <label class="btn btn-default">
                                                    <input type="radio" checked="" name="options"/><i
                                                        class="ti-comments"></i> Reply
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="options"/> <i class="ti-thumb-up"></i>
                                                    Like
                                                </label>
                                            </div>
                                            <form class="post-reply">
                                                <textarea placeholder="Write your comment"></textarea>
                                                <i class="ti-comments"></i>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="timeline">
                                    <div class="user-timeline">
                                        <span><img src="http://placehold.it/40x40" alt=""/></span>
                                    </div>
                                    <div class="timeline-detail">
                                        <div class="timeline-head">
                                            <h3>Yameen khandil<span>2 hours ago</span><i class="purple">Mod</i></h3>
                                            <div class="social-share">
                                                <a title=""><i class="ti-sharethis"></i></a>
                                                <ul class="social-btns">
                                                    <li><a title="Facebook" data-toggle="tooltip" data-placement="left"
                                                           href="#"><i class="ti-facebook"></i></a></li>
                                                    <li><a title="Google" data-toggle="tooltip" data-placement="left"
                                                           href="#"><i class="ti-google"></i></a></li>
                                                    <li><a title="Twitter" data-toggle="tooltip" data-placement="left"
                                                           href="#"><i class="ti-twitter"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <p>at <a href="#" title="">Khana Zidi</a> Jonathan DOe Uploaded 4 new
                                                photos.</p>
                                            <div class="timeline-gallery">
                                                <ul>
                                                    <li><a title="Gallery Image" class="lightbox"
                                                           href="images/resource/view.gif"><i
                                                            class="ti-zoom-in"></i><img src="http://placehold.it/70x70""
                                                        alt="" /></a></li>
                                                    <li><a title="Gallery Image" class="lightbox"
                                                           href="images/resource/view.gif"><i
                                                            class="ti-zoom-in"></i><img src="http://placehold.it/70x70""
                                                        alt="" /></a></li>
                                                    <li><a title="Gallery Image" class="lightbox"
                                                           href="images/resource/view.gif"><i
                                                            class="ti-zoom-in"></i><img src="http://placehold.it/70x70""
                                                        alt="" /></a></li>
                                                    <li><a title="Gallery Image" class="lightbox"
                                                           href="images/resource/view.gif"><i
                                                            class="ti-zoom-in"></i><img src="http://placehold.it/70x70""
                                                        alt="" /></a></li>
                                                </ul>
                                            </div>
                                            <div data-toggle="buttons" class="btn-group btn-group-sm">
                                                <label class="btn btn-default">
                                                    <input type="radio" checked="" name="options"/><i
                                                        class="ti-comments"></i> Reply
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="options"/> <i class="ti-thumb-up"></i>
                                                    Like
                                                </label>
                                            </div>
                                            <form class="post-reply">
                                                <textarea placeholder="Write your comment"></textarea>
                                                <i class="ti-comments"></i>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="timeline">
                                    <div class="user-timeline">
                                        <span><img src="http://placehold.it/40x40" alt=""/></span>
                                    </div>
                                    <div class="timeline-detail">
                                        <div class="timeline-head">
                                            <h3>Brindal Dazi<span>4 min ago</span><i class="green">User</i></h3>
                                            <div class="social-share">
                                                <a title=""><i class="ti-sharethis"></i></a>
                                                <ul class="social-btns">
                                                    <li><a title="Facebook" data-toggle="tooltip" data-placement="left"
                                                           href="#"><i class="ti-facebook"></i></a></li>
                                                    <li><a title="Google" data-toggle="tooltip" data-placement="left"
                                                           href="#"><i class="ti-google"></i></a></li>
                                                    <li><a title="Twitter" data-toggle="tooltip" data-placement="left"
                                                           href="#"><i class="ti-twitter"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="timeline-content">
                                            <p>Set it as the font <a href="#" title="">John Doe</a> in your applition,
                                                and copy and paste the icons. Print this page to PDF for te completet of
                                                vectors. Or to use othe the Font Aweo Awesome</p>
                                            <div data-toggle="buttons" class="btn-group btn-group-sm">
                                                <label class="btn btn-default">
                                                    <input type="radio" checked="" name="options"/><i
                                                        class="ti-comments"></i> Reply
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" name="options"/> <i class="ti-thumb-up"></i>
                                                    Like
                                                </label>
                                            </div>
                                            <form class="post-reply">
                                                <textarea placeholder="Write your comment"></textarea>
                                                <i class="ti-comments"></i>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->
<script type="text/javascript">
    $(document).ready(function () {

        'use strict';

        //*** Widget Carousel ***//
        $('#simple-carousel').jcider({
            looping: true, // For looping
            variableWidth: false, // For variable width
            variableHeight: true, // For variable height
            fading: false, // For fading/sliding effect
            easing: 'cubic-bezier(.694, .0482, .335, 1)', // For easing
            transitionDuration: 400, // Duration of slide transition
            autoplay: true, // Duh...
            slideDuration: 2000, // Duration between each slide change in autoplay
            controls: true, // For visibility of nav-arrows
            controlsWrapper: 'div.jcider-nav', // Element for nav wrapper
            controlsLeft: ['span.jcider-nav-left', ''], // Element for nav-left
            controlsRight: ['span.jcider-nav-right', ''], // Element for nav-right
            pagination: false, // For visibility of pagination
            paginationWrapper: 'div.jcider-pagination', // Element for pagination wrapper
            paginationPoint: 'div.jcider-pagination-point' // Element for pagination points
        });

        //*** Widget Carousel ***//
        $('#fb-carousel').jcider({
            looping: true, // For looping
            variableWidth: false, // For variable width
            variableHeight: true, // For variable height
            fading: false, // For fading/sliding effect
            easing: 'cubic-bezier(.694, .0482, .335, 1)', // For easing
            transitionDuration: 400, // Duration of slide transition
            autoplay: true, // Duh...
            slideDuration: 3000, // Duration between each slide change in autoplay
            controls: true, // For visibility of nav-arrows
            controlsWrapper: 'div.jcider-nav', // Element for nav wrapper
            controlsLeft: ['span.jcider-nav-left', ''], // Element for nav-left
            controlsRight: ['span.jcider-nav-right', ''], // Element for nav-right
            pagination: false, // For visibility of pagination
            paginationWrapper: 'div.jcider-pagination', // Element for pagination wrapper
            paginationPoint: 'div.jcider-pagination-point' // Element for pagination points
        });

        //*** Weather Icon ***//
        var icons = new Skycons({'color': 'white'});
        icons.set('rain', Skycons.RAIN);
        icons.play();

        //*** Random Numbers ***//
        function generate() {
            $('.number').text(Math.floor(Math.random() * 500) + 1);
            $('.number2').text(Math.floor(Math.random() * 1000) + 1);
        }

        setInterval(generate, 2000);


        //*** Piety Mini Charts ***//
        $(function () {

            //*** Live Updating Chart ***//
            var updatingChart = $('.line').peity('line', {
                width: ['300px'],
                fill: ['#f3f4f8'],
                stroke: ['#e7eaf1'],
                height: ['60px']
            })
            setInterval(function () {
                var random = Math.round(Math.random() * 5)
                var values = updatingChart.text().split(",")
                values.shift()
                values.push(random)

                updatingChart
                    .text(values.join(','))
                    .change()
            }, 700)

            $('.pie-colours').peity('pie', {
                fill: ['#595959', '#9e9e9e', '#c1bbed', '#e8ecec'],
                height: ['200px'],
                width: ['200px']
            })

            $('.bar').peity('bar', {
                fill: ['#07bf29'],
                height: ['40px'],
                width: ['94px']
            })

            $('.pie-colours2').peity('pie', {
                fill: ['#595959', '#9e9e9e', '#c1bbed'],
                height: ['60px'],
                width: ['60px']
            })

            $('.pie-colours3').peity('pie', {
                fill: ['#595959', '#9e9e9e', '#c1bbed'],
                height: ['60px'],
                width: ['60px']
            })

            $('.pie-colours4').peity('pie', {
                fill: ['#595959', '#9e9e9e', '#c1bbed'],
                height: ['60px'],
                width: ['60px']
            })

            $('.bar2').peity('bar', {
                fill: ['#404040'],
                height: ['40px'],
                width: ['94px']
            })

            $('.bar3').peity('bar', {
                fill: ['#ffffff'],
                height: ['50px'],
                width: ['200px']
            })

            $('#visits').peity('line', {
                fill: ['#eef0f3'],
                stroke: ['#556b8d'],
                height: ['40px'],
                width: ['85px']
            })

            $('#page-views').peity('line', {
                fill: ['#edf3fb'],
                stroke: ['#6fa3e2'],
                height: ['40px'],
                width: ['85px']
            })

            $('#pages').peity('line', {
                fill: ['#f6f7f9'],
                stroke: ['#a6b0c2'],
                height: ['40px'],
                width: ['85px']
            })

            $('#time').peity('line', {
                fill: ['#f3f9ec'],
                stroke: ['#85c744'],
                height: ['40px'],
                width: ['85px']
            })

            $('#return').peity('line', {
                fill: ['#fdf5ea'],
                stroke: ['#f2af4f'],
                height: ['40px'],
                width: ['85px']
            })

            $('#bounce').peity('line', {
                fill: ['#fdedeb'],
                stroke: ['#e74c3c'],
                height: ['40px'],
                width: ['85px']
            })

        });

        //**** Activity Chart ****//
        var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var d1 = [];
        for (var i = 0; i <= 11; i += 1) {
            d1.push([i, parseInt((Math.floor(Math.random() * (1 + 20 - 10))) + 10)]);
        }
        $('#chart').length && $.plot($('#chart'), [{
                data: d1
            }],
            {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 1,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.3
                            }, {
                                opacity: 0.3
                            }]
                        }
                    },
                    points: {
                        radius: 3,
                        show: true
                    },
                    grow: {
                        active: true,
                        steps: 50
                    },
                    shadowSize: 2
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: '#f0f0f0',
                    borderWidth: 1,
                    color: '#eeeeee'
                },
                colors: ['#cfd2d7'],
                xaxis: {},
                yaxis: {
                    ticks: 5
                },
                tooltip: true,
                tooltipOpts: {
                    content: 'chart: %x.1 is %y.4',
                    defaultTheme: false,
                    shifts: {
                        x: 0,
                        y: 20
                    }
                }
            }
        );

        //*** Piety Mini Charts ***//
        $(function () {

            $('.bar').peity('bar', {
                fill: ['#07bf29'],
                height: ['40px'],
                width: ['94px']
            })

            $('.bar2').peity('bar', {
                fill: ['#404040'],
                height: ['40px'],
                width: ['94px']
            })

        });

    });

</script>
